.button {
    border: 0;
    width: 96px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    border-radius: 4px;
    display: inline-block;
    justify-content: center;
    color: color-contrast($primary);
    transition: background-color .2s ease,
                color .2s ease;

    & + small {
        display: block;
        color: $gray-700;
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
    }

    &:hover {
        background-color: shade-color($primary, 12%);
    }

    &--full {
        width: 100%;
    }

    &--main {
        background-color: $primary;
    }
}