.control {
    margin-bottom: 15px;

    &__inner {
        display: flex;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
        border-radius: 3px;
        color: #333;
        // background-color: $gray-100;
        border: 1px solid $gray-400;
        transition: border-color .2s ease-in-out;
    }

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="password"],
    input[type="password"],
    input[type="password"] {
        width: 100%;
        border: none;
        padding: 10px;
        height: 40px;
        // border-radius: 4px;
        // margin: 0;
        // border: 1px solid $gray-400;
        background: rgba($gray-100, .4);

        &:focus {
            outline: none !important;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: none;

        & + label {
            display: flex;
            font-size: 14px;
            cursor: pointer;

            &:before {
                content: '';
                width: 14px;
                height: 14px;
                display: block;
                min-width: 14px;
                margin-right: 8px;
                position: relative;
                border: 1px solid $gray-400;
                background: rgba($gray-100, .4);
                transition: all .2s ease;
            }
        }
    }

    input[type="checkbox"] {
        & + label:before {
            border-radius: 4px;
        }

        &:checked {
            & + label:before {
                color: #fff;
                content: "\f00c";
                font-size: 8px;
                line-height: 14px;
                font-weight: bold;
                text-align: center;
                background-color: $primary;
                font-family: "Font Awesome 5 Pro";
            }
        }
    }
}