.page {
    &--auth {
        padding: 20px;
        align-items: center;
        justify-content: center;
        // background-color: $primary;

        .card {
            width: 100%;
            max-width: 360px;
        }
    }
}