.panel {
    width: 350px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #edebe9;

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__header {
        border-bottom: 1px solid  #edebe9;

        &-title {
            padding: 1rem;
            display: block;
            font-size: 16px;
            font-weight: bold;
        }
    }
}