.tabbar {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(37,47,63);

    &__inner {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        padding-bottom: 100%;
        background-color: $primary;
    }

    &__menu {
        flex: 1;
        display: flex;
        padding: 1rem;
        align-items: center;
        flex-direction: column;

        .spacer {
            flex: 1;
        }

        &-item {
            cursor: pointer;
            font-size: 24px;
            padding: 0.75rem;
            margin-top: 1rem;
            font-weight: bold;
            text-align: center;
            border-radius: 0.5rem;
            color: rgb(107, 114, 128);
            transition: all .2s ease;
            background-color: transparent;

            &:first-child {
                margin-top: 0px;
            }

            &:hover {
                color: rgb(107, 114, 128);
                background-color: rgba(55, 65, 81, .7);
            }

            &.active {
                color: $primary;
                background-color: #fff;
            }
            
        }
    }

    @media (max-width: $screen-md) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        position: fixed;

        &__logo {
            display: none;
        }

        &__menu {
            padding: 0.5rem;
            // padding-bottom: 0.75rem;
            flex-direction: row;
            justify-content: space-around;

            &-item {
                flex: 1;
                margin-top: 0;
                font-size: 23px;
                padding: 0.25rem;
                margin-right: 0.25rem;

                &:last-child {
                    margin-right: 0px;
                }
            }

            .spacer {
                display: none;
            }
        }
    }
}